.navbar-inverse {
    background-color: #B2DCBA !important;
    color: #264B2D !important;
    border-color: #264B2D;
    margin-bottom: 0px !important;
}

.navbar-inverse .navbar-nav>li>a{
    color: #264B2D !important;
}

.navbar-inverse .navbar-brand {
    color: #264B2D !important;
}

.navbar-nav>li>a:hover {
    color: #FFFFFF !important;
}

.dropdown:hover{
    background-color: #264B2D !important;
    color: #FFFFFF !important;
}

.dropdown-menu, .navbar-inverse .navbar-nav>.open>a{
    background-color: #B2DCBA !important;
    color: #264B2D !important;
    border-color: #264B2D;
    margin-bottom: 0px !important;
}

.navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #264B2D !important;
    color: #FFFFFF !important;
}


#a:hover, #aRegistro:hover, #aLogin:hover, #aReservas:hover, .dropdown-menu>li>a:hover, .dropdown:hover{
    background-color: #264B2D !important;
    color: #FFFFFF !important;
}

.modal-header{
    text-align: center;
    background-color: #264B2D;
    color : #FFFFFF;
}

.modal-body{
     background-color: #F0FEF2;
}

#modal_buttons,#iniciar_sesion {
    text-align: center;
}

#nuevo_usuario{
    color: #264B2D !important;
    font-size: 12px;
}


.input-group-addon{
    color: #FFFFFF !important;
    background-color:  #264B2D !important; 
}

.btn-default{
    background-color: #264B2D !important;
    color: #FFFFFF !important;
    width: 30%;
}

.form-control {
    border: 1px solid #264B2D !important;
}


#drag1 {
    width: 20%;
    height: 20%;
    text-align: center !important;
}

#dragdrop{
    text-align: center !important;
}

#div1 {
    width: 100%;
    height: 10%;
    text-align: center !important;
    border: 2.5px solid #264B2D !important;
}

body {
    background-color: #F0FEF2 !important ;
}

h1{
    color: #264B2D !important;
    text-align: center;
    font-variant: small-caps;
}

hr {
    width: 30%;
    height: 0.4% !important;
    background-color: #264B2D !important; 
    margin-top: 0.7% !important;
    margin-bottom: 0.7% !important;
    border-color: #264B2D !important; 
    border-radius: 90%; 
}

.container {
    background-color: #B2DCBA;
    color: #264B2D;
    border: 3px solid  #264B2D;
    height: 90%;
    width: 90% !important;
}

.jumbotron {
    background-color: #B2DCBA !important;
}

.col-md-4{
    text-align: center;
}

#escudo{
  width: 40%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#detalles{
    border: 2px solid  #264B2D;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: justify;
}

#footer {
    margin-top: 5%;
    background-color: #264B2D;
    color: #FFFFFF;
    padding-top: 20;
}


