.navbar-inverse {
    background-color: #B2DCBA !important;
    color: #264B2D !important;
    border-color: #264B2D;
    margin-bottom: 0px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #264B2D !important;
}

.navbar-inverse .navbar-brand {
    color: #264B2D !important;
}

#a:hover, #aRegistro:hover, #aLogin:hover{
    background-color: #264B2D;
    color: white !important;
}

.jumbotron {
    margin-bottom: 0px !important;
    background-image: url(../img/pista_padel.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    color:#FFFFFF !important;
    height: 55%;
}

body {
    background-color: #F0FEF2 !important;
}

hr {
    width: 60%;
    height: 0.4% !important;
    background-color: #264B2D !important; 
    margin-top: 0.7% !important;
    margin-bottom: 0.7% !important;
    border-color: #264B2D !important; 
    border-radius: 90%; 
}

#hr_vertical{
    width: 1%;
    height: 80% !important;
    background-color: #264B2D !important; 
    margin-top: 0.7% !important;
    margin-bottom: 0.7% !important;
    border-color: #264B2D !important; 
}

.modal-header{
    text-align: center;
    background-color: #264B2D;
    color : #FFFFFF;
}

#modal_buttons{
    text-align: center;
}

.btn-default{
    background-color: #264B2D !important;
    color: #FFFFFF !important;
    width: 30%;
}

.form-control {
    border: 1px solid #264B2D !important;
}

.col-sm-6{
    background-color: #B2DCBA !important;
    text-align: justify;
    margin: 0 auto !important;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
      margin-top: 1%;
    margin-bottom: 1%;
}

h2{
    color: #264B2D !important;
    margin-bottom: 5% !important;
    text-align: center;
}

p{
    padding-left: 5%;
    padding-right: 5%;
}

#lista{
    text-align: left;
}

#container{
    border: 3px solid #264B2D;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.row{
    background-color: #B2DCBA !important;
}

#imgcontainer{
    background-color: #F5F5F5 !important;
    text-align: center;
}

.carousel, .carousel-inner > .item > img {
    height: 300px !important;
    width: 70%;
    margin: auto;
}

#campeonato, #clases {
    width: 80%;
    height: 40% !important;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
}

#footer {
    background-color: #264B2D;
    color: #FFFFFF;
    padding-top: 20;
}
